.App {
  display: flex;
  justify-content: center;
}
.calendar {
  width: 250px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

.row {
  width: 100%;
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.day {
  width: 20px;
  margin-right: 5px;
  text-align: end;
}

.selected {
  background-color: rgb(112, 110, 110);
}